# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Release
on:
  workflow_dispatch:
  #push:
  #  branches:
  #  - dev
permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance
jobs:
  release:
    #needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    container:
      image: skipero/node-for-ghactions:24
    #if: github.ref == 'refs/heads/dev' && (startsWith(github.event.head_commit.message, 'release ') || startsWith(github.event.head_commit.message, 'rc ') )
    #if: github.base_ref == 'dev' && (startsWith(github.event.head_commit.message, 'release ') || startsWith(github.event.head_commit.message, 'rc ') )
    #if: startsWith(github.ref, 'refs/tags/') && github.base_ref == 'master' && contains(fromJSON('["release", "rc"]'), github.event.head_commit.message)
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: '~/.npm'
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: install NPM dependencies
        run: npm ci
      - name: build
        run: npm run build
      - name: test
        run: npm test
      - name: check git directory
        run: git rev-parse --git-dir .
      #- name: Skim distribution
      #  run: ./.github/scripts/skim-dist.mjs
      - name: Publish with ACT
        if: ${{ env.ACT }} ## gh act -j release --secret-file .env
        run: npx -y semantic-release@25 --no-ci --dry-run
      - name: Publish in Github
        if: ${{ !env.ACT }}
        run: npx -y semantic-release@25 --no-ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
